<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            padding: 30px 15px 30px 15px;
            height: 3508px;
            width: 2480px;
        }
    </style>
</head>
<body>
    <p>{{.Name}}</p>
    <p>{{.Age}}</p>
    <p>{{.Description}}</p>
    <p>{{.Formation}}</p>
    <p>{{.CPF}}</p>
</body>
</html>